

.box{
  background-color: green;
  height:200px;
  padding-bottom: 0px;
}
.box1{
  border-style: dashed;
  border-color: black;
  border-width: medium;
  margin:10px;
  height:150px;
  padding-bottom: 0px;
}
.text1{
  color:red;
}
.text2{
  color:darkgreen;
}
.text3{
  color:purple;
}
