body{
  background-color: green;
}

#wrapper{
  background-color:  green;
  width: 1000px;
  margin:0 auto;

}

#content1{
  background-color: blue;
    float: left;
  height: 400px;
  width:300px;

}

#content2{
  background-color: yellow;
  float: right;
  height: 400px;
  width:300px;

}

#content3{
  background-color: red;
  clear: left;
  margin:0 auto;
  height: 400px;
  width:300px;

}
